#root {
  margin: 0 auto;
  text-align: center;
}

.nav {
  height: 80px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  position: relative;
  z-index: 100;
}

.nav img {
  display: block;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  margin: 15px 20px;
  display: flex;
  float: right;
  position: relative;
  padding: 10px 20px;
  color: black;
  text-align: center;
  font-size: 17px;
}

.nav-links a::after {
content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #EEBB2F;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-links a.active::after {
  transform: scaleX(1);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;

  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: black;
  display: block;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #EEBB2F;
  color: black;
  padding: 30px;
  display: flex;
  align-items: center;
  text-align: left;
}

.footer-right {
  margin-left: auto;
}

footer img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

footer a {
  color: black;
}

footer a:hover {
  color: white;
}

/* 768px and below*/
@media only screen and (max-width: 768px) {
  .footer-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* 600px and below*/
@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-right {
    margin-left: 0;
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;

    flex-direction: column;
    text-align: center;
    background-color: #EEBB2F;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .nav-links.open {
    max-height: 300px;
  }

  .nav-links a {
    padding: 16px 0;
  }

  /* Disable hover animation on mobile */
  .nav-links a::after {
    display: none;
  }

/* =========================
   DISABLE HOVER WHEN MENU OPEN
========================= */
.nav.menu-open .nav-links a::after {
  display: none;
}
}