#root {
  margin: 0 auto;
  text-align: center;
}

nav {
  background-color: #333;
  overflow: hidden;
  padding: 0 60px;
  width: 100vw;
  box-sizing: border-box;
}

footer {
  background-color: #333;
  color: #f2f2f2;
  overflow: hidden;
  padding: 30px 60px;
  position:absolute;
  width:100vw;
  bottom:0px;
}

nav a {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  float: right;
  color: #f2f2f2;
  text-align: center;
  font-size: 17px;
  height: 100px;
}

nav a:hover {
  background-color: #ddd;
  color: #333;
}