#root {
  margin: 0 auto;
  text-align: center;
}

.nav {
  height: 80px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav img {
  display: block;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  margin: 15px 20px;
  display: flex;
  position: relative;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  font-family: "Poppins SemiBold", sans-serif;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #EEBB2F;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  flex-direction: column;

  background: white;
  border-radius: 8px;
  padding: 8px 0;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);

  transition: all 0.2s ease;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu a {
  padding: 8px 16px;
  white-space: nowrap;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;

  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: black;
  display: block;
}

.page {
  padding-top: 80px; /** Account for fixed nav height */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #EEBB2F;
  color: black;
  padding: 30px 60px;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  gap: 32px;
}

footer img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  padding-right: 5px;
}

footer a {
  color: black;
  margin-top: auto;
}

footer a:hover {
  color: white;
}

/* 768px and below*/
@media only screen and (max-width: 768px) {
  .nav-links {
    gap: 10px;
  }

  .nav-links a {
    margin: 0px;
    padding: 20px 10px;
  }

    footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: left;
  }

  .footer-links, .footer-right {
    margin-right: 25%;
  }

  .footer-link {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
}

/* 600px and below*/
@media only screen and (max-width: 600px) {

  .footer-links, .footer-right {
    margin-right: 40%;
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;

    flex-direction: column;
    text-align: center;
    background-color: #EEBB2F;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .nav-links.open {
    max-height: 1000px;
  }

  .nav-links a {
    padding: 16px;
  }

  /* Disable hover animation on mobile */
  .nav-links a::after {
    display: none;
  }

  /* =========================
   DISABLE HOVER WHEN MENU OPEN
========================= */
  .nav.menu-open .nav-links a::after {
    display: none;
  }
}