.fun {
  flex: 1;
  padding: 0px 0px 30px;
}

.art {
  padding: 0px 60px;
}

.art ul {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0px;
}

.art li {
  height: 40vh;
  flex-grow: 1;
  list-style-type: none;
}

.art li:last-child {
  flex-grow: 10;
}

.art img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}