.fun {
  flex: 1;
  padding: 0px 0px 30px;
}

.art {
  padding: 0px 60px;
}

.art ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.art li {
  list-style: none;
  flex: 1 1 400px;
  max-width: 100%;
  overflow: hidden;
}

.art li:last-child {
  flex-grow: 10;
}

.art img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* 768px and below*/
@media (max-width: 768px) {
  .art {
    padding: 0 20px;
  }

  .art ul {
    flex-direction: column;
  }

  .art li {
    flex: none;
  }
}
