.project-page {
  padding: 30px 60px;
  text-align: left;
  gap: 20px;
}

.project-content {
  padding: 30px;
  margin: 60px 0px;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}

.project-mini-headers,
.msg-results-sections {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.msg-results-stats {
  display: flex;
  flex-direction: row;
}

.msg-prototypes,
.old-rit-yearbooks,
.old-csh-yearbooks,
.yearbook-process-images,
.yearbook-results-images,
.flossboss-process-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 100vw;
}

.msg-prototypes-AB,
.flossboss-video {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  max-width: 100%;
}

.msg-prototypes img,
.msg-prototypes-AB img,
.old-rit-yearbooks img,
.old-csh-yearbooks img,
.yearbook-process-images img,
.yearbook-results-images img,
.flossboss-process-images img,
.flossboss-video video {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.project-page-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
}

.project-page-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-page-image img {
  width: 70%;
  height: auto;
}

.sidebar {
  width: 100px;
  display: flex;
  flex-direction: column;
  height: 80%;
  position: fixed;
  overflow-x: hidden;
  padding-top: 3%;
}

.sidebar a {
  font-family: "Poppins SemiBold", sans-serif;
  font-size: 1em;
  text-decoration-line: underline;
  text-decoration-color: #EEBB2F;
  color: black;
  margin: 10px 0px;
}

.flossboss-gdc {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.flossboss-gdc iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 768px and below*/
@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .project-content {
    padding: 30px;
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
  }

  .project-page {
    padding: 30px;
    text-align: left;
    gap: 20px;
  }

  .project-mini-headers,
  .msg-results-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }

  .msg-prototypes,
  .old-rit-yearbooks,
  .old-csh-yearbooks,
  .yearbook-process-images,
  .yearbook-results-images,
  .flossboss-process-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 100vw;
  }

  .msg-prototypes-AB,
  .flossboss-video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 100%;
  }
}