#root {
  margin: 0 auto;
  text-align: center;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  padding: 0 60px;
  width: 100vw;
  box-sizing: border-box;
}

.navbar a {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  float: right;
  color: #f2f2f2;
  text-align: center;
  font-size: 17px;
  height: 100px;
}

.navbar a:hover {
  background-color: #ddd;
  color: #333;
}
